/* CSS Stylesheet */

/* Colours  */

body {
  background-color: #212529;
  text-align: center;
}

.jumbotron {
  background-color: blanchedalmond;
  height: 170px;
  padding: 1.5rem 2rem!important;
}

h1 {
  color: blanchedalmond;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  
}

p {
  color: blanchedalmond;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  
}

.display-4 {
  color:#212529;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  
}

.lead {
  color:#212529;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  
}

.btn .btn-primary {
  background-color: #f8f9fa;
}


/* Global Styles */

/* .score-board {
  border: 3px solid white;
  width: 200px;
  margin: 20px auto;
  padding: 15px 30px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 4px;
  position: relative;
}

.badges {
  background: blanchedalmond;
  color: #212529;
  font-size: 22px;
  padding: 2px 10px;
  font-family: 'Montserrat' sans-serif;
}

#user-label {
  position: absolute;
  top: 25px;
  left: -35px;
}

#comp-label {
  position: absolute;
  top: 25px;
  right: -35px;
}

.result {
  font-size: 40px;
  color: #fff;
}

.result p {
  text-align: center;
  font-weight: bold;
}

.choices {
  text-align: center;
  margin: 50px 0;
}
.choice {
  border: 4px solid white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 15px;
  padding: 45px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #212529;
} */

/* Typography */

.jumbotron h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 0;
  }

  .jumbotron p {
    text-align: center;
  
  }

/* Buttons */


  /* .icon-rock {
    background: url(images/rock.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
  }

  .icon-paper {
    background: url(images/paper.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
  }

  .icon-scissors {
    background: url(images/scissors.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
  } */
  

/* Images */
/* Interaction
.green-glow {
  border: 4px solid green;
  box-shadow: 0 0 10px greenyellow;
}

.red-glow {
  border: 4px solid red;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid gray;
  box-shadow: 0 0 10px #25292b;
} */
