{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
      <h1>This is Law Case with ID number {{ id }}</h1>

      <!-- prints out variables which were passed in as a var in python file -->
      <p>Url to the case: <a href="{{ url }}" target="_blank">{{ url }}</a></p>
      <p>Name of the case: {{ name }}</p>
      <p>Decision date: {{decision_date}}</p>

 </article>
<div class="search">
  <p></p>
  <p style="margin-top:100px">Look for the case by ID number (opens the case with relevant ID in new window):</p>

  <form id="frm1" action="/action_page.php">
    <input id="caseID" type="text" name="Case ID number"><br>
    <input type="button" onclick=newCase(name) value="Enter">
  </form>

 <script>
     function newCase(number){
       var input = document.getElementById("caseID").value;
       var url = "https://api.case.law/v1/cases/" + input
       window.open(url, '_blank');
     }
 </script>
</div>


  <!-- Write the content of INDEX page here. All html formating is
    under layout.html file and this file extends it and overrides the
    content part in the layout file -->


{% endblock content%}
