{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
      <h1>This is Law Case with ID number {{ id }}</h1>

      <!-- prints out variables which were passed in as a var in python file -->
      <p>Url to the case: <a href="{{ url }}" target="_blank">{{ url }}</a></p>
      <p>Name of the case: {{ name }}</p>
      <p>Decision date: {{decision_date}}</p>

 </article>
  <!-- Write the content of INDEX page here. All html formating is
    under layout.html file and this file extends it and overrides the
    content part in the layout file -->


{% endblock content%}
